.nav-center{
text-align: center;
height: 3rem;
line-height: 1.5rem;
;
}

h4{
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    letter-spacing: 2px; 
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
}

.link{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

h2{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    background-color: black;
    color: aliceblue;
    padding: 4px;
}


#btn{
    font-family: "Open Sans", sans-serif;
font-size: 16px;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
color: #000;
cursor: pointer;
border: 3px solid;
padding: 0.25em 0.5em;
box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
position: relative;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
margin-left: 2rem;
}

